@import url("basic/basic.css");
@import url("basic/fonts.css");
@import url("basic/helpers.css");

@import url("keep/keep-app.css");
@import url("email/email-main.css");
/* @import url("basic/main-header.css"); */


.main-header{
    position:fixed;
    top:0;
    width: 100%;
    height: 60px;
    box-shadow: 3px 0  7px 3px rgba(79, 20, 94, 0.4);
    padding: 0 20px;
}

.logo{
    height: 100%;
}

.main-router-view{
    margin-top: 80px;
    padding: 0 80px;

}