@import url("basic/basic.css");
@import url("basic/fonts.css");
@import url("basic/helpers.css");

@import url("keep/keep-app.css");
@import url("email/email-main.css");


.main-header{
    position:fixed;
    top:0;
    width: 100%;
    height: 60px;
    box-shadow: 2px -3px 7px 3px rgb(79 20 94 / 40%);
    padding: 0 20px;
}

.logo{
    height: 100%;
}

.burger-nav-bar:before{
    font-family: 'font-aw-solid';

    content:'\f0c9';
}

.main-router-view{
    margin-top: 80px;
    padding: 0 80px;
}

.homepage h1{
    font-size:10em;
    font-family:balsamic-bold;
}