@import "cmps/note-list.css";
@import "cmps/note-edit.css";
@import "cmps/note-footer.css";
@import "cmps/note-todo.css";
@import "cmps/note-img.css";
@import "cmps/keep-nav-bar.css";

.keep-app{
    background-color: #fefefe;
    margin-bottom: 30px;;
    margin-top:80px;
    margin-left:80px;
    margin-right:80px;
    width: 80vw;;
    margin:auto;
}

.keep-router-view{

}


.note-new-screen.is-add-new,
.note-edit-screen.is-edit{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:1;
}

.note-edit-screen.is-edit{   
    z-index:2;
    background-color: rgba(0, 0, 0, 0.6);
}

.keep-header{
    width: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-bottom: 10px;

}

.keep-search{
    display:block;
}

.keep-search input{

    border-radius: 12px;;
    border: 1px solid rgba(0, 0, 0, 0.431);
    outline: none;
    padding:5px 10px ;
}


.keep-search{
    margin: 10px 20px;
}

