.keep-nav-bar{
    font-weight: normal;
    margin-right: 30px;
    
}

.keep-nav-bar-lnk a {
    width: 100px;
    padding-bottom: 10px;
    margin: 10px 20px;
    border-bottom: #6dbeb8 1px solid;;
    text-decoration: none;
}

.keep-nav-bar-lnk a > *{
    /* display: inline-block; */
    padding:5px 10px;
    border-radius: 10px;
    color: #6dbeb8;
    
}
.keep-nav-bar-lnk h3{
    text-align: center;
    font-family:'quicksand-regular';
    font-weight: normal;
}


.keep-nav-bar-lnk  a.marked>*{
    /* background-color: #f0eeee; */
    border:1px solid #f9a960;
}

.keep-nav-bar-lnk a >* span{
    color:#dc9593
}

.keep-nav-bar-lnk a >*:hover{
    background-color: #fdf2f2;
    color:#b8b7b7;
}

.burger-keep-nav-bar{
    color: #559d99;
    background-color: transparent;
    border: none;
    outline: none;;
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}

.burger-keep-nav-bar:before {
    font-family: 'font-aw-solid';
    content: '\f0c9';
}


.burger-keep-nav-bar:active {
    color: #92949bd2;
}



@media (max-width: 680px) {

    .keep-nav-bar{
        position:absolute;
        top:80px;
        left:0;
        z-index: 5;

    }
    .burger-keep-nav-bar {
        display: block;
        align-self:flex-start;
        padding-left:40px;
        margin-bottom: 20px;
        z-index: 5;
    }

    
    .keep-nav-bar-lnk{
        background-color: #fff;
        visibility:hidden;
        z-index: 2;
        position:absolute;
        /* top:80px; */
        left:0;
        z-index: 5;
        box-shadow: 1px 1px 3px 3px rgb(0 0 0 / 10%);


    }

    .keep-nav-bar-lnk  a.marked>*{
        /* background-color: #f0eeee; */
        border:none;
    }
    .keep-nav-bar-screen {
        /* visibility: hidden; */
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        /* background-color: rgba(0, 0, 0, 0.6); */
    }
    
}