.preview-note-img-container{
    position:relative;
}

.edit-note-img-container{
    position:relative;
    /* object-fit:contain; */
    margin: auto;
}

.note-img,
.edit-note-img{
    object-fit: cover;
    width: 100%;
}

.btn-change-img{
   opacity:0;
   outline:none;
   cursor:pointer;
   width: 100%;
   height: 100%;
}