.preview-note-img-container{
    position:relative;
}


.note-img
{
    object-fit: cover;
    width: 100%;
}

.edit-note-img{
    max-height:50vh;
    max-width: 100%;
}

.img-container {
    position:relative;
    padding:0 20px;
    margin:auto;
}
.btn-change-img{
   opacity:0;
   outline:none;
   cursor:pointer;
   width: 100%;
   height: 100%;
}

.image-upload-container{
    margin-left:30%;

}


.image-upload-container >*:not(:last-child){
    margin-inline-end: 40px;
}

.edit-note-img-container [name="image-url"]{
    display: inline-block;
    /* background-color: tomato; */
    width:70px;
    max-width: 250px;
}

.edit-note-img-container > *{
    font-size:0.9em;
}

.edit-note-img-container .btn-upload-image{
    border:1px solid #cecdcd;
    border-radius: 10px;
    padding:5px 10px;
    font-family: 'balsamic';
    position:relative;
    cursor:pointer;
}

.edit-note-img-container .btn-upload-image:hover{
    background-color: rgb(235, 235, 235);
    border-color:rgb(235, 235, 235);

}

.edit-note-img-container .btn-upload-image:active{
    color:grey;
}

.edit-note-img-container .file-input,
.edit-note-img-container .btn-upload-image ::-webkit-file-upload-button{
    opacity: 0;
    width: 100%;
    height: 100%;
    position:absolute;
    cursor:pointer;
    left:0;
    top:0;
}