
.notes-list{
    display:block;
    column-width: 250px;
    padding:5px;
}

.notes-list > *:not(:last-child){ 
    margin-block-end:20px;

}
.notes-list > *:not(:first-child){
    margin-top:20px;

}

.note-preview{
    margin:auto;
    break-inside:avoid-column;
    display:block;
    position:relative;
    padding:20px 25px;

    border-radius: 5px;
    border:1px solid rgba(226, 226, 226, 1);
}

.preview-link{

}

.note-preview .title{
    margin-bottom: 15px;;
    font-family: 'balsamic-bold-italic';
    color:rgb(68, 68, 68);

}

.note-preview p,
.note-preview li{
    font-family: 'balsamic';
    color:rgb(68, 68, 68);

}

.note-preview:hover{
    box-shadow:  1px 1px 2px rgb(0 0 0 / 20%);
    border:1px solid rgb(0 0 0 / 10%);
    
    /* opacity:0.8; */
    filter: brightness(106%);
    color:rgb(235, 61, 61);
    cursor:pointer;

}