.note-footer .btn-del,
.note-footer .btn-edit{
    border-radius: 2em;
    cursor:pointer;
    height: 30px;
}

.note-footer .btn-fa{
    font-family: 'font-aw-reg';
    width: 30px;
    /* text-align: center; */
}

.note-types{
    justify-self: flex-end;
}

.note-footer .btn-del:hover,
.note-footer .btn-edit:hover{
    background-color: rgb(235, 235, 235);
}

.note-footer .btn-del:active,
.note-footer .btn-edit:active{
    color:grey;
}

.note-footer .btn-edit.save{
    font-weight: bold;
}
.note-footer .btn-del,
.note-footer .btn-edit.close,
.note-footer .btn-edit.save{
    padding: 5px 10px;
}

.note-footer .btn-img{
    position:relative;
}

.note-footer .btn-color {
    font-family: 'font-aw-solid';
    position: relative;
}

.note-footer .btn-color input{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    outline: none;
    width: 100%;
    height: 100%;
    border:none;
    background-color: transparent;
    cursor:pointer;
    opacity:0;
}

.note-footer .btn-color::before {
    content: '\f53f';
}

.note-footer input::-webkit-color-swatch{
    display:none;
}

.note-footer .btn-delete::before{
    content: '\f2ed';
}
.note-footer .btn-img::before{
    content: '\f03e';
}

.note-footer .btn-todo::before{
    content: '\f022';
}
.note-footer .btn-txt::before{
    font-family: 'font-aw-solid';

    content: '\f031';
}

