@import "helpers.css";
@import "fonts.css";
@import "../keep/keep-app.css";

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: arial; /*Change font*/
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 1em;
}

.main-container {
    width: 1060px;
    margin: 0 auto;
}

/* COMPONENETS */
