* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Quicksand-Regular; /*Change font*/
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 1em;
}


/* COMPONENETS */
