@font-face{
    src: url('../fonts/fa-regular-400.ttf');
    font-family: 'font-aw-reg';
}

@font-face{
    src: url('../fonts/fa-solid-900.ttf');
    font-family: 'font-aw-solid';
}

@font-face{
    src: url('../fonts/keep/BalsamiqSans-Bold.ttf');
    font-family: 'balsamic-bold';
}

@font-face{
    src: url('../fonts/keep/BalsamiqSans-Regular.ttf');
    font-family: 'balsamic';
}

@font-face{
    src: url('../fonts/keep/BalsamiqSans-BoldItalic.ttf');
    font-family: 'balsamic-bold-italic';
}

@font-face{
    src: url('../fonts/ShadowsIntoLight-Regular.ttf');
    font-family: 'shadow';
    /* src: url('../fonts/ShipporiMincho-Regular.ttf');
    font-family: 'shipporimincho-Regular'; */
}
@font-face{
    src: url('../fonts/Quicksand-Regular.ttf');
    font-family: 'quicksand-Regular';
}