
/* HELPERS */
.flex{
    display:flex;
}

.grid{
    display:grid;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.column{
    flex-direction: column;
}

/* ALIGNMET/CONTENT */
.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.space-evenly{
    justify-content: space-evenly;
}

.grid {
    display: grid;
}

/* FLEX-GROW */
.flex-1{
    flex-grow:1;
}

.absolute-full{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

/* LIST */
.clean-list{
    list-style: none;
    margin:0;
    padding:0
}

.clean-btn {
    cursor: pointer;
    outline: none;
    border: none;
  }
  