
.about-us-container{
    max-width: 80%;
    margin: 0 auto;
}


.about-header{
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}

.about-header h1{
    font-size: 20px;
}

.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 520px;
    line-height: 22px;
    /* background-color: aqua; */
}

.about-me:first-child{
    margin-right: 50px;

}

.about-me-img{
    width: 250px;
    height: 250px;
    /* width: 100%; */
    /* object-fit: cover; */
    border-radius: 50%;
    margin-bottom: 20px;
    /* border-radius: 5px; */
}

.about-me p{
    margin-bottom: 25px;
}

  .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-decoration: none;
    margin-left: 30px;
    background: #6dbeb8;
    color: white;
    border-radius: 50%;
}


.social-link:hover {
    background: rgba(0, 0, 0, 0.157);
}

.fab.fa-facebook::before{
    font-family: 'font-aw-brands';
    content: '\f39e';
}

.fab.fa-linkedin::before{
    font-family: 'font-aw-brands';
      content: '\f0e1';
  }